@charset "EUC-KR";

a {
	text-decoration: none;
	color: #111111;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-break: keep-all;
	font-family: 'Pretendard Variable'
}

html, body {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 100px;
	-webkit-box-shadow: inset 0 0 6px rgb(40 38 38/ 30%);
}

.common_title {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	color: #000;
}

li {
	list-style: none;
}

#index_wrap {
	padding: 400px 0 120px;
}

/* index.jsp */
div.layout {
	border: 0px solid gray;
	position: absolute;
}

div.title {
	width: 100%;
	height: 100px;
	line-height: 80px;
	font-size: 30pt;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: #fff;
}

div.title .log_box {
	position: absolute;
	right: 60px;
	top: 0;
	font-size: 14px;
	display: flex;
	align-items: center;
	height: 100px;
}

div.title .log_box a {
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	color: #000;
	margin-left: 20px;
}

div.menu {
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 20px;
	text-align: center;
	top: 90px;
}

div.info {
	width: 250px;
	height: 300px;
	line-height: 10px;
	font-size: 15pt;
	left: 50px;
	top: 300px;
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 20px;
}

div.info .img {
	margin-top: 20px;
}

div.info  img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

div.info i {
	margin-right: 20px;
}

/* main.jsp */
div.main {
	width: 1200px;
	height: 700px;
	font-size: 15pt;
	left: 400px;
	top: 200px;
}

div.main table {
	margin-top: 40px;
}

#main {
	width: 1200px;
	padding: 120px 0;
}

#main img.banner {
	width: 100%;
}

#main h3.title {
	margin-top: 80px;
}

#main .img_box {
	display: flex;
	flex-wrap: wrap;
}

#main .img_box img {
	width: 50%;
}
/* gaipSuccess.jsp */
.signUp {
	font-weight: 400;
	padding: 120px 0;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
}

.signUp .sign_title p {
	font-weight: 700;
	font-size: 20px
}

.signUp .title p span {
	font-weight: 400;
	font-size: 16px
}

.signUp .img {
	margin-top: 40px;
	width: 600px;
	height: 400px;
}

.signUp .img  img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.signUp .btn {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.signUp .btn  a {
	width: 120px;
	height: 40px;
	display: flex;
	align-items: center;
	border-radius: 30px;
	justify-content: center;
	color: #fff;
}

.signUp .btn  a:first-child {
	margin-right: 40px;
	background-color: #ccdb50;
}

.signUp .btn  a:last-child {
	background-color: #71d3e3;
}

/* memberList.jsp */
.member_list {
	display: flex;
	justify-content: center;
	padding: 120px 0;
}

.member_list table th {
	font-size: 18px;
	text-align: center;
}

.member_list table  td {
	font-size: 16px;
	text-align: center;
}

/*myPage.jsp*/
.modal {
	z-index: 99999 !important;
}

.my_page {
	padding: 120px 0;
}

.my_page .mainimg {
	text-align: center;
}

.my_page .mainimg img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

.my_page td {
	vertical-align: middle;
	font-size: 16px;
}

.guestlist .total {
	font-size: 14px;
	color: #504848;
}

.guestlist .total span {
	font-weight: 700;
	color: #000;
	font-size: 16px;
}

.guestlist  .block {
	border: 1px solid #ddd;
	border-radius: 40px;
	margin-top: 40px;
	padding: 20px;
	position: relative;
}

.guestlist  .block .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.guestlist  .block .top div {
	display: flex;;
	align-items: center;
}

.guestlist  .block .top .no {
	font-size: 14px;
	margin-right: 10px;
}

.guestlist  .block .top .id {
	font-weight: 700;
}

.guestlist  .block .top .day {
	font-size: 14px;
	color: #ccc;
}

.guestlist  .block .body {
	margin-top: 40px;
	font-size: 16px;
}

.guestlist .block .guest_btn {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.guestlist .block .guest_btn i {
	font-size: 20px;
	cursor: pointer;
}

.pagination {
	padding-bottom: 80px;
}

textarea {
	resize: none;
}

.guestlist  .answer {
	font-size: 14px;
	margin-left: 20px;
}

.guestlist  .answer span {
	margin-right: 20px;
	cursor: pointer;
}

.guestlist  .answer span.chu {
	cursor: pointer;
	font-weight: 700;
}

.guestlist .comment {
	margin-top: 20px;
	font-size: 14px;
}

.guestlist .comment_list table {
	border: 1px solid #ddd;
	padding: 20px;
}

.guestlist .comment_list table td.user {
	text-align: center;
}

.guestlist .comment_list table i {
	cursor: pointer;
}

.smart_detail {
	margin-top: 80px;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 30px;
}

.smart_detail .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.smart_detail .head>div {
	display: flex;
	align-items: center;
}

.smart_detail .head .no {
	color: #212529;
	font-size: 14px;
	margin-right: 4px;
}

.smart_detail .head .no  span {
	font-weight: 700;
}

.smart_detail .head .writer {
	font-size: 16px;
}

.smart_detail .head .day {
	color: #ccc;
	font-size: 14px;
	margin-right: 10px;
	font-weight: 600;
}

.smart_detail .head .count {
	color: #ccc;
	font-size: 14px;
	font-weight: 600;
}

.smart_detail .subject {
	margin-top: 18px;
	font-weight: 700;
}

.smart_detail .content {
	margin-top: 20px;
	font-size: 16px;
}

.smart_detail .content  p {
	margin: 0;
	display: flex;
	align-items: center;
}

.smart_btn {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.smart_btn div {
	margin-right: 20px;
	width: 140px;
	height: 50px;
	border-radius: 30px;
}

.smart_btn div a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #fff;
}

.smart_btn div:last-child {
	margin-right: 0;
}